<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>PCFS Talkers</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, , maximum-scale=1">
  <link rel="stylesheet" type="text/css" href="styles.css">

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script th:inline="javascript">
    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var slackChannelParticipantCharacterCount = /*[[${slackChannelParticipantCharacterCount}]]*/;

      slackChannelParticipantCharacterCountAsArrays =
          Object.keys(slackChannelParticipantCharacterCount).map(function (key) {
            return [key, slackChannelParticipantCharacterCount[key]];
          });

      slackChannelParticipantCharacterCountAsArrays =
          slackChannelParticipantCharacterCountAsArrays.sort(function(e1, e2) {
            if(e1[1] > e2[1]) return -1;
            else if(e1[1] < e2[1]) return 1;
            else return 0;
          });

      var axes = ['Channel Member', 'Character Count'];
      slackChannelParticipantCharacterCountAsArrays.unshift(axes)

      var data = google.visualization.arrayToDataTable(
          slackChannelParticipantCharacterCountAsArrays);

      var options = {
        title: '#[(${slackChannelName})]',
        is3D: true,
        sliceVisibilityThreshold: .02,
        legend: {position: 'bottom'}
      };

      var chart = new google.visualization.PieChart(document.getElementById('piechart'));

      chart.draw(data, options);
    }
  </script>

</head>
<body>
<div id="piechart" style="width: 900px; height: 500px;"></div>
<div>participants by total characters in their messages over the past month</div>
</body>
</html>